*{
	font-family: Georgia;
}
h1 {
	font-family: helvetica;
	color: #988898;
	background-color: #476bb2;
	width: 1100px;
}

a:link{
	color: #39aaa9;

}

a:hover{
	color: #d38202;
}

#email {
	font-size: 10px;
}

.bold {
	font-weight: bold;
}