/* general */
html, body {
	font-family: gafata;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	/*height: 100%;*/
	font-size: 100%;
}


h1 {
	font-size: 3em;
	text-align: center;
	color: white;
	width: 100%;
	display: block;
	margin: auto;
	background-color: #476bb2;
	border-radius: 0 0 0.2em 0.2em;
	margin-bottom: 2%;
}

h2 {
	font-size: 1.8em;
	color: #85a366;
	margin: 0.5% 1% 1.5% 2.5%;
}

h3 {
	font-size: 1.1em;
	color: #476bb2;
	margin: 2.5% 0 0 2.5%;
	font-weight: bold;
}

h4 {
	font-size: 0.9em;
	margin: 1% 0 2.5% 2.5%;
	font-style: italic;
}

footer {
	clear: both;
	margin: 2% 0 2% 0.5%;
	padding: 1%;
	border-radius: 0.5em;
}

img {
	border: 0.2em solid #476bb2;
	border-radius: 20em;
	width: 90%;
	margin: 5% 0 5% 5%;
}

p {
	margin: 0 2.5% 2.5% 2.5%;
	text-align: justify;
	font-size: 1.1em;
	line-height: 1.5em;
	font-family: 'Roboto', 'sans-serif';
}

ul {
	list-style-type: circle;
	margin: 0 2.5% 2.5% 6%;
}

ol {
	list-style-type: decimal;
	margin: 0 2.5% 2.5% 6%;
}

li {
	margin: 1%;
	line-height: 1.2em;
}

em {
	font-style: italic;
}

b {
	font-weight: 900;
}

a:link {
	color: #476bb2;
}

a:visited {
	color: #85a366;
}
a:hover {
	color: white;
	background-color: #476bb2;
}

.current {
	background-color: hsl(100, 25%, 50%);
}


.block {
	margin: 0.5em 0 0.5em 0;
	margin: 2% 0 2% 0;
	background-color: #D0DBE3;
	vertical-align: top;
	border-radius: 5px;
	padding: 2em 0.5em 2em 0.5em;
}

/*nav*/

.nav {
	margin: -1% 0 2% 0;
	background-color: hsl(100, 25%, 60%);
	border-radius: 0.2em;
	color: white;
	font-size: 1.3em;
	overflow: hidden;
}

.nav div a {
	width: 20%;
	padding: 1% 0 1% 0;
	display: inline-block;
	text-align: center;
	float: left;
	color: white;
	text-decoration: none;
}

.nav div a:hover {
	background-color: hsl(100, 25%, 50%);
}

/* index */

#name {
	font-size: 2.2em;
	text-align: center;
	color: white;
	width: 80%;
	height: 25%;
	display: block;
	margin: auto;
	padding: 25% 10% 7% 10%;
	background-color: #476bb2;
	border-radius: 0 0 0.2em 0.2em;
	margin-bottom: 0.4em;
	font-weight: 100;
	text-decoration: none;
}

#big {
	font-size: 1.3em;
	font-weight: 800;
}

#hello {
	font-size: 1.25em;
	text-align: center;
	width: 80%;
	height: 2em;
	display: block;
	margin: auto;
	padding: 2em;
	margin-bottom: 0.4em;
	font-weight: 100;
}
/*about*/
#pic {
	display: inline-block;
	width: 40%;
	height: 100%;
}

#about {
	display: inline-block;
	width: 45%;
	height: 100%;
	vertical-align: top;
	margin-right: 2em;
	margin-left: 4em;
}


/*Links*/
#favorites {
	float: right;
	width: 47%;
	height: 30em;
	margin: 0;
}

#me {
	float: left;
	width: 47%;
	height: 30em;
	margin: 0;
}



/* blog posts */
.rm {
	font-family: sans-serif;
	font-variant: small-caps;
	color: #476bb2;
	text-decoration: underline;
	font-size: 1.2em;
}

#sp {
	padding-bottom: 1.5em;
	width:20%;
	display: inline-block;
	float: right;
	border-radius: 0.5em;
	margin: 2em 0.5em 0 0;
	padding-top: 0.5em;
	height: 95%;
}

#sp ul li {
	margin-bottom: 5%;
}

.indent {
	width: 90%;
	margin: auto;
}


#firstrow {
	font-weight: bold;
	text-decoration: underline;
	font-size: 1.1em;
	border-bottom: none;
}

table {
	margin: auto;
	border-spacing: 10px;
	table-layout: fixed;

}
td:nth-child(2){
	text-align: center;
	width: 9em;
}

tr {
	border-bottom: 1pt solid #B0B0B0;
}

div.post{
	background-color: #D0DBE3;
	padding: 1em;
	border-radius: 0.5em;
	margin-bottom: 2em;
	line-height: 1.2em;
	display: inline-block;
}

div.minipost{
	background-color: #D0DBE3;
	padding: 1em;
	border-radius: 0.5em;
	margin-bottom: 2em;
	line-height: 1.2em;
	display: inline-block;
	width: 70%;
}

code {
	font-family: monospace;
	background-color: #F2F9FF;
	width: 90%;
	border: 1px solid gray;
	display: block;
	margin: 1em auto 1em auto;
	padding: 4px;
}
codein {
	font-family: monospace;
	font-style: normal;
}

.grey {
	color: gray;
}

grn {
	color: #6A8252;
}

#menu-icon {
	border: none;
	display: none;
/*	width: 40px;
	height: 40px;*/
}

/* responsive */

@media (max-width: 1024px){
	html, body {
		width:98%;
	}

	

	.right {
		width: 100%;
		padding-bottom: 1em;
		margin-bottom: 0.8em; 
	}*/



	p{
		text-align: left;
	}
}

@media (max-width: 800px) {
	body {
		width: 100%;
		font-size: 125%;
	}

	div#pic {
		display: block;
		margin: auto;
		width: 60%;
		vertical-align: top;
		margin-bottom: 1em;
	}
	#about{
		display: block;
		margin: auto;
		width: 95%;
		vertical-align: top;
		margin-bottom: 1em;
	}



}

@media (max-width: 600px) {

	h1 {
		position: relative;
		padding-top: 20px;
	}
	#menu-icon {
		display:inline-block;
		background-color: hsl(100, 25%, 60%);
		font-size: 0.8em;
		font-family: 'gafata';
		color: white; 
		width: 120px;
		height: 30px;
		position: fixed;
		top: 0px;
		right: 1%;
		border-radius: 0 0 0 0.2em;
	}


	.nav:hover, .nav:active {
		/*position: absolute;*/
		position: fixed;
		top: 0px;
		right: 1%;
		width: 120px;
		border-radius: 0 0 0.2em 0.2em;
		height: 200px;
		/*width: 200px;*/
	}

	.nav div{
		display: none;
		/*position: absolute;*/
		/*padding: 20px;*/
/*		background: #fff;
		border: 5px solid #444;*/
		/*right: 20px;/**/
		/*top: 60px;*/
		/*width: 50%;*/
		/*border-radius: 4px 0 4px 4px;*/
	}


	.nav:hover div {
		display: block;
		position: relative;
		text-align: center;
		width: 100%;
		padding: 5px 0;
		margin: 0;
		clear: both;
		/*height: 40px;*/
	}
	.nav:hover div:nth-child(2) {
		margin-top: 30px;
	}

	

	.nav div a {
		width: 100%;
	}

}